<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style media="screen">
    </style>
    <title></title>
  </head>
  <body>
    <div class="page">
      <% include components/top.inc.ejs %>
      <div class="content-wrap">
        <% if(typeof mod_data!='undefined'){ %>
        <div class="shadow"></div>
        <div class="mod_dialog">
          <form action="/admin/course" method="post" enctype="multipart/form-data">
            <input type="hidden" name="mod_id" value="<%= mod_data.ID %>" /><!--用来判断以后是修改还是刷新-->
            图片的src：<input type="file" name="src"/><br>
            图片的alt：<input type="text" name="alt" value="<%= mod_data.alt %>"/><br>
            学习时间和难度：<input type="text" name="diff" value="<%= mod_data.diff %>"/><br>
            学习人数：<input type="text" name="number" value="<%= mod_data.number %>"/><br>
            标题：<input type="text" name="title" value="<%= mod_data.title %>"/><br>
            难度：<input type="text" name="diff1" value="<%= mod_data.diff1 %>"/><br>
            描述：<textarea name="description"><%= mod_data.description %></textarea><br>
            链接：<input type="text" name="href" value="<%= mod_data.href %>"/><br>
            <input type="submit" value="修改"/>
            <a href="/admin/course">取消修改</a>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
